PORT=3000
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=tu_contraseña_de_mysql
DB_NAME=aquasave
JWT_SECRET=escribe_aqui_una_clave_larga_y_aleatoria
JWT_EXPIRES_IN=2h
CORS_ORIGIN=http://localhost:4200